---
layout: layouts/home
title: "Home"
---

<header class="home-header">
  <h1>NWS Client</h1>
  <p>NWS Client is a JavaScript library for the <a href="https://www.weather.gov/documentation/services-web-api">National Weather Service API</a>.</p>
  <a class="button-link" href="{{ '/getting-started' | url }}">Get started</a>
</header>

<main class="home-main">
  <h2>Why NWS Client?</h2>

  <h3>Free</h3>
  <p>The NWS API is a public service of the United States Government and there are no fees to use it.</p>

  <h3>TypeScript</h3>
  <p>NWS Client supports TypeScript and is written in it. It helps to maintain types, which are complicated for NWS API data.</p>

  <h3>Platforms</h3>
  <p>Web Browsers, <a href="https://nodejs.org/en/">Node.js</a>, and <a href="https://reactnative.dev/">React Native</a>, and <a href="https://www.electronjs.org/">Electron</a> are all supported platforms.</p>

  <h2>Further Reading</h2>
  <a href="https://github.com/Vavassor/nws-client/blob/main/CHANGELOG.md">Release Notes</a>
</main>
