<header class="main-header">
  <ul>
    <li>
      <a href="{{ '/' | url }}">NWS Client</a>
    </li>
    <li>
      <a href="{{ '/api' | url }}">API Reference</a>
    </li>
    <li>
      <a href="https://github.com/Vavassor/nws-client">Github</a>
    </li>
  </ul>
</header>
